<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.issmart.common.dao.GetPressNumberMapper">
	<select id="getActiveNumberMapperByBeaconMac" resultType="Map">
		select beacon_mac as beaconMac,count(beacon_mac) as activeNumber
		from tb_sys_behavior_log
		where unit_id = #{unitId}
		AND behavior_id = #{behaviorId}
		GROUP BY beacon_mac
	</select>
	<select id="getActiveNumberMapperByDeviceMac" resultType="Map">
		select b.device_mac as deviceMac,count(log.beacon_mac) as activeNumber
		from tb_sys_behavior_log log
		INNER JOIN device_booth_view b ON log.device_mac = b.device_mac and log.unit_id = b.unit_id
		where log.unit_id = #{unitId}
		AND behavior_id = #{behaviorId} 
		GROUP BY b.device_mac
	</select>
	
</mapper>