<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.issmart.common.dao.TimerMapper">
	<resultMap id="BaseResultMap" type="DeviceBaseInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="booth_name" property="boothName" jdbcType="VARCHAR" />
		<result column="event_id" property="eventId" jdbcType="INTEGER" />
		<result column="unitId" property="unitId" jdbcType="VARCHAR" />
		<result column="rssi" property="rssi" jdbcType="INTEGER" />
		<result column="booth_type" property="boothType" jdbcType="VARCHAR" />
		<result column="booth_id" property="boothId" jdbcType="INTEGER" />
		<result column="device_name" property="deviceName" jdbcType="VARCHAR" />
		<result column="device_booth" property="deviceBooth" jdbcType="VARCHAR" />
		<result column="device_status" property="deviceStatus"
			jdbcType="VARCHAR" />
		<result column="device_address" property="deviceAddress"
			jdbcType="VARCHAR" />
		<result column="device_mac" property="deviceMac" jdbcType="VARCHAR" />
		<result column="device_x" property="deviceX" jdbcType="INTEGER" />
		<result column="device_y" property="deviceY" jdbcType="INTEGER" />
		<result column="device_z" property="deviceZ" jdbcType="INTEGER" />
		<result column="created_time" property="time" jdbcType="DATE" />
		<result column="duration" property="duration" jdbcType="INTEGER" />
		<result column="bemberTotal" property="bemberTotal" jdbcType="INTEGER" />
		<result column="realMemberTotal" property="realMemberTotal"
			jdbcType="INTEGER" />
		<result column="durationAvg" property="durationAvg" jdbcType="INTEGER" />
		<result column="msgSendTotal" property="msgSendTotal" jdbcType="INTEGER" />
		<result column="deviceMmac" property="deviceMmac" jdbcType="VARCHAR" />
		<result column="beaconMac" property="beaconMac" jdbcType="VARCHAR" />
		<result column="calculateTimeStamp" property="calculateTimeStamp" jdbcType="BIGINT" />
	</resultMap>
	
	<select id="queryBoothIndex" resultType="Map">
		select
		COUNT(DISTINCT device_mac)as boothTotal,
	 	COUNT(DISTINCT beacon_mac) as boothMemberTotal,
		ROUND((COUNT(*) / COUNT(DISTINCT beacon_mac)),0) as boothstayTimeAvg
		from ${tableName}
	</select>
	
	<select id="queryDeviceHot" resultMap="BaseResultMap">
		select b.unit_id as
		unitId,log.device_mac,device_name,booth_location as device_address,booth_id,
		booth_name,b.created_time,
		count(log.device_mac) as duration,
		(count(log.device_mac) / count(DISTINCT log.beacon_mac)) as durationAvg
		from ${tableName} log 
		left join tb_wa_booth b 
		on b.device_mac = log.device_mac and b.unit_id = log.unit_id
		where b.unit_id = #{unitId}
		GROUP BY b.device_mac
		ORDER BY
		duration DESC,durationAvg DESC
	</select>
	
	<select id="queryBoothIds" resultType="Integer">
		select DISTINCT booth_id
		from tb_wa_booth
		where unit_id = #{unitId}
	</select>
	
	<select id="queryBemberTotalByBoothId" resultMap="BaseResultMap">
		select bo.booth_id as booth_id, COUNT(DISTINCT log.beacon_mac) as bemberTotal
		from tb_wa_booth bo 
		LEFT JOIN ${tableName} log ON log.unit_id = bo.unit_id and log.device_mac = bo.device_mac
		where log.unit_id = #{unitId}
		GROUP BY bo.booth_id
	</select>
	
	<select id="queryVisitLogByBoothId" resultMap="BaseResultMap">
		select DISTINCT log.device_mac as deviceMac,log.beacon_mac as beaconMac,log.calculate_time_stamp
		as calculateTimeStamp,bo.booth_id as booth_id
		from tb_wa_booth bo 
		LEFT JOIN ${tableName} log ON log.unit_id = bo.unit_id and log.device_mac = bo.device_mac
		where bo.unit_id = #{unitId}
		and bo.booth_id in
		<foreach collection="boothIdLists" item="boothId" open="(" separator="," close=")">
			#{boothId}
		</foreach>
		ORDER BY log.device_mac,log.beacon_mac,log.calculate_time
	</select>
	
	
	<insert id="insertBoothReportResult">
		insert into
		tb_report_visit_log_booth_result (unit_id,booth_total,booth_member_total,booth_stay_time_avg,booth_id,device_address
		,booth_name,device_name,device_mac,duration,bember_total,real_member_total,duration_avg)
		values 
		<foreach collection="list" item="item" separator=",">
			 (#{unitId},#{indexData.boothTotal},#{indexData.boothMemberTotal},#{indexData.boothstayTimeAvg},#{item.boothId},#{item.deviceAddress},#{item.boothName}
			 ,#{item.deviceName},#{item.deviceMac},#{item.duration},#{item.bemberTotal},#{item.realMemberTotal},#{item.durationAvg})
		</foreach>
	</insert>
	
	<update id="updateBoothReportResult">
		update tb_report_visit_log_booth_result
		set
		<if test="indexData.boothTotal != null">
			booth_total = #{indexData.boothTotal},
		</if>
		<if test="indexData.boothMemberTotal != null">
			booth_member_total = #{indexData.boothMemberTotal},
		</if>
		<if test="indexData.boothstayTimeAvg != null">
			booth_stay_time_avg = #{indexData.boothstayTimeAvg},
		</if>
		last_updated_time = NOW()
		where unit_id = #{unitId}
	</update>

	<update id="updateBoothReportResultBatch" parameterType="list">
		update tb_report_visit_log_booth_result
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="duration =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.duration != null">
						when booth_id=#{i.boothId} then #{i.duration}
					</if>
				</foreach>
			</trim>
			<trim prefix="bember_total =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.bemberTotal != null">
						when booth_id=#{i.boothId} then #{i.bemberTotal}
					</if>
				</foreach>
			</trim>
			<trim prefix="real_member_total =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.realMemberTotal != null">
						when booth_id=#{i.boothId} then #{i.realMemberTotal}
					</if>
				</foreach>
			</trim>
			<trim prefix="duration_avg =case" suffix="end">
				<foreach collection="list" item="i" index="index">
					<if test="i.durationAvg != null">
						when booth_id=#{i.boothId} then #{i.durationAvg}
					</if>
				</foreach>
			</trim>
		</trim>
		where booth_id in
		<foreach collection="list" open="(" separator="," close=")" item="i" index="index">
			#{i.boothId}
		</foreach>
		and unit_id = #{unitId}
	</update>
	
	<!-- ********************************************************************** -->
	<resultMap id="ActiveBaseResultMap" type="BeaconActive">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="member_name" property="memberName" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="postion_code" property="postionCode" jdbcType="VARCHAR" />
		<result column="beacon_mac" property="beaconMac" jdbcType="VARCHAR" />
		<result column="device_mac" property="deviceMac" jdbcType="VARCHAR" />
		<result column="booth_name" property="boothName" jdbcType="VARCHAR" />
		<result column="arrive_time" property="arriveTime" jdbcType="VARCHAR" />
		<result column="leave_time" property="leaveTime" jdbcType="TIMESTAMP" />
		<result column="stay_time" property="stayTime" jdbcType="INTEGER" />
		<result column="unit" property="unit" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ActiveInfoResultMap" type="BeaconActiveInfo">
		<result column="contactId" property="contactId" jdbcType="INTEGER" />
		<result column="memberId" property="memberId" jdbcType="INTEGER" />
		<result column="memberName" property="memberName" jdbcType="VARCHAR" />
		<result column="memberPhone" property="memberPhone" jdbcType="VARCHAR" />
		<result column="memberEmail" property="memberEmail" jdbcType="VARCHAR" />
		<result column="beaconMac" property="beaconMac" jdbcType="VARCHAR" />
		<result column="companyName" property="companyName" jdbcType="VARCHAR" />
		<result column="postionCode" property="postionCode" jdbcType="VARCHAR" />
		<result column="region" property="region" jdbcType="VARCHAR" />
		<result column="industry" property="industry" jdbcType="VARCHAR" />
		<result column="boothTotal" property="boothTotal" jdbcType="INTEGER" />
		<result column="boothRepeatTotal" property="boothRepeatTotal"
			jdbcType="INTEGER" />
		<result column="interactTotal" property="interactTotal"
			jdbcType="INTEGER" />
		<result column="durationTimeTotal" property="durationTimeTotal"
			jdbcType="INTEGER" />
		<result column="unitId" property="unitId" jdbcType="INTEGER" />
		<result column="device_mac" property="deviceMac" jdbcType="VARCHAR" />
		<result column="beacon_mac" property="beaconMac" jdbcType="VARCHAR" />
		<result column="calculate_time_stamp" property="calculateTimeStamp"
			jdbcType="BIGINT" />
	</resultMap>
	
	<select id="queryUnitIdList" resultType="String">
		SELECT p.unit_id FROM
		tb_report_permission p
		INNER JOIN tb_event_template e ON p.unit_id = e.unit_id
		WHERE permission_level = 'S'
		AND UNIX_TIMESTAMP(NOW()) BETWEEN e.start_time and e.end_time
	</select>

	<insert id="insertReportResult">
		insert into
		tb_report_visit_log_member_result (unit_id,active_score,beacon_mac,contact_id,member_id,member_name
		,company_name,postion_code,industry,region,booth_total,booth_repeat_total,duration_time_total,
		score)
		values 
		<foreach collection="list" item="item" separator=",">
			 (#{unitId},#{activeScore},#{item.beaconMac},#{item.contactId},#{item.memberId},#{item.memberName},#{item.companyName}
			 ,#{item.postionCode},#{item.industry},#{item.region},#{item.boothTotal},#{item.boothRepeatTotal},#{item.durationTimeTotal}
			 ,#{item.score})
		</foreach>
	</insert>

	<update id="updateReportResult">
		update tb_report_visit_log_member_result
		set
		<if test="activeScore != null">
			active_score = #{activeScore},
		</if>
		last_updated_time = NOW()
		where unit_id = #{unitId}
	</update>

	<update id="updateReportResultScoreBatch" parameterType="list">
		update tb_report_visit_log_member_result
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="booth_total =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.boothTotal != null">
						when beacon_mac=#{i.beaconMac} then #{i.boothTotal}
					</if>
				</foreach>
			</trim>
			<trim prefix="booth_repeat_total =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.boothRepeatTotal != null">
						when beacon_mac=#{i.beaconMac} then #{i.boothRepeatTotal}
					</if>
				</foreach>
			</trim>
			<trim prefix="duration_time_total =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.durationTimeTotal != null">
						when beacon_mac=#{i.beaconMac} then #{i.durationTimeTotal}
					</if>
				</foreach>
			</trim>
			<trim prefix="score =case" suffix="end">
				<foreach collection="list" item="i" index="index">
					<if test="i.score != null">
						when beacon_mac=#{i.beaconMac} then #{i.score}
					</if>
				</foreach>
			</trim>
		</trim>
		where beacon_mac in
		<foreach collection="list" open="(" separator="," close=")" item="i" index="index">
			#{i.beaconMac}
		</foreach>
		and unit_id = #{unitId}
	</update>

	<select id="queryMemberActives" resultMap="ActiveInfoResultMap">
		select DISTINCT
		u.beacon_mac as beaconMac,
		contact_id as contactId,
		member_name as memberName,
		member_id as memberId,
		company_name as
		companyName,
		postion_code as postionCode,
		industry,
		city as region,
		u.unit_id as unitId,
		count(DISTINCT log.device_mac) as boothTotal,
		count(log.device_mac) as durationTimeTotal
		from tb_cm_member u
		left join ${tableName} log on u.beacon_mac = log.beacon_mac AND u.unit_id
		= log.unit_id
		Where u.unit_id = #{unitId}
		GROUP BY u.beacon_mac
		Order BY
		boothTotal DESC,durationTimeTotal DESC
	</select>
	<select id="queryActive" resultMap="ActiveBaseResultMap">
		select DISTINCT
		log.device_mac,time_minute as stay_time,date_add(calculate_time,
		interval -13 hour) as leave_time,
		b.booth_name,postion_code,company_name
		from
		tb_report_visit_log log
		left
		join tb_cm_member u on u.beacon_mac =
		log.beacon_mac AND u.unit_id =
		log.unit_id
		left join tb_wa_booth b on
		b.device_mac = log.device_mac AND
		b.unit_id = log.unit_id
		Where log.unit_id =#{unitId}
		and log.beacon_mac
		= #{beaconMac}
		ORDER BY calculate_time,log.device_mac
	</select>
	<select id="queryActiveBoothRepeatTotal" resultMap="ActiveInfoResultMap">
		select
		DISTINCT device_mac,calculate_time_stamp,beacon_mac
		from
		${tableName}
		Where unit_id =#{unitId}
		ORDER BY device_mac,calculate_time_stamp
	</select>
	<select id="queryInterestedBooth" resultType="Map">
		select b.booth_name
		as maxStayTime
		from tb_visit_activity_log log
		left join tb_wa_booth
		b on
		b.device_mac = log.device_mac AND b.unit_id = log.unit
		Where
		log.unit =
		#{unitId}
		and log.beacon_mac = #{beaconMac}
		Group by
		log.device_mac
		Order
		by sum(stay_time) DESC
		LIMIT 1
	</select>
	<select id="queryMemberNameByBeaconMac" resultMap="ActiveBaseResultMap">
		select
		beacon_mac,member_name
		from tb_cm_member
		Where unit_id = #{unitId}
	</select>
	<select id="getTotal" resultType="Integer">
		select count(DISTINCT
		beacon_mac)
		from tb_report_visit_log
		Where unit_id = #{unitId}
	</select>
	<select id="getDeviceMac" resultType="String">
		select c.device_mac
		from
		tb_wa_beacon_calculate c
		INNER join tb_cm_member m on c.unit =
		m.unit_id and m.beacon_id = #{beaconId}
		Where c.unit = #{unitId}
		and
		c.beacon_mac = m.beacon_mac
		and UNIX_TIMESTAMP(window_end) BETWEEN
		(UNIX_TIMESTAMP(NOW()) -10 - #{minutes} * 60) AND
		(UNIX_TIMESTAMP(NOW()) + 10)
		Order by c.window_start DESC,c.rssi
		limit
		0,1
	</select>
	<select id="queryMemberByNearBy" resultType="Map">
		select DISTINCT
		m.unit_id as unitId,m.beacon_id as beaconId,m.member_name as
		memberName,
		m.wechat_head_img_url as wechatHeadImgUrl,m.postion_code as
		postionCode,min(c.rssi) as rssi
		from tb_wa_beacon_calculate c
		INNER join
		tb_cm_member m on c.unit = m.unit_id and m.beacon_mac = c.beacon_mac
		Where c.unit = #{unitId}
		and c.device_mac = #{deviceMac}
		and m.beacon_id
		!= #{beaconId}
		and c.rssi &lt;= #{rssi}
		and UNIX_TIMESTAMP(window_end)
		BETWEEN (UNIX_TIMESTAMP(NOW()) -10 - #{minutes} * 60) AND
		(UNIX_TIMESTAMP(NOW()) + 10)
		GROUP BY m.unit_id,m.beacon_id
		,m.member_name,m.wechat_head_img_url,m.postion_code
		Order by c.rssi
	</select>
	<select id="queryOverallIndicators" resultType="Map">
		SELECT
		COUNT(DISTINCT log.beacon_mac) as activeUserNumber,
		ROUND((COUNT(log.beacon_mac) / COUNT(DISTINCT m.beacon_mac)),0)
		interactionTotalNumber,
		ROUND((COUNT(log.beacon_mac)/ COUNT(DISTINCT m.beacon_mac) / COUNT(DISTINCT log.beacon_mac)),0) as
		interactionAvgNumber,
		(COUNT(DISTINCT log.beacon_mac) / COUNT(DISTINCT
		m.beacon_mac)) as interactionPartInRate
		from tb_sys_behavior_log log
		INNER JOIN tb_cm_member m ON log.unit_id =
		m.unit_id
		where log.unit_id = #{unitId}
		and log.behavior_id = 1
	</select>
	<select id="getBeaconTotal" resultType="Integer">
		SELECT COUNT(DISTINCT
		beacon_mac) from tb_cm_member
		where unit_id = #{unitId}
	</select>
	<select id="queryInteractionAnalysis" resultType="Map">
		SELECT
		b.behavior_name behaviorName,
		COUNT(DISTINCT log.beacon_mac) as
		partInNumber,
		(COUNT(DISTINCT log.beacon_mac) / COUNT(DISTINCT
		m.beacon_mac)) as interactionPartInRate,
		ROUND((COUNT(log.beacon_mac) /
		COUNT(DISTINCT m.beacon_mac)),0) as effectiveInteractionNumber,
		ROUND((COUNT(log.beacon_mac) / COUNT(DISTINCT m.beacon_mac) /
		COUNT(DISTINCT log.beacon_mac)),0) as perInteraction
		from
		tb_sys_behavior_log log
		LEFT JOIN tb_sys_behavior b ON log.behavior_id
		= b.id
		INNER JOIN tb_cm_member m ON log.unit_id = m.unit_id
		where
		log.unit_id = #{unitId}
		GROUP BY behavior_id
	</select>
</mapper>